/**  Basic Page CSS **/
body {
  font-weight: 200;
  background-color: #F5F5F5;
}

header a,
footer a {
  color: black;
}

footer {
  font-size: 0.8em;
}

.bg-primary,
.btn-primary {
  background-color: white !important;
  border: inherit;
}
